<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link rel="stylesheet" href="../../../public/admin/css/login.css">
    <script src="../../../public/common/jquery-3.3.1/jquery-3.3.1.js"></script>
    <script src="../../../public/common/layer/layer.js"></script>
</head>
<body>
<div class="header" id="head">
    <div class="title">欢迎注册</div>
</div>

<div class="wrap" id="wrap">
    <div class="logGet">
        <!-- 头部提示信息 -->
        <div class="logD logDtip">
            <p class="p1">注册</p>
        </div>
        <form method="post" action="../loadPage/register.php">
            <!-- 输入框 -->
            <div class="lgD">
                <img src="../../../public/admin/img/logName.jpg" width="20" height="20" alt="用户名"/>
                <input type="text" placeholder="输入用户名" name="user" id="user"/>
            </div>
            <div class="lgD">
                <img src="../../../public/admin/img/logPwd.jpg" width="20" height="20" alt="密码"/>
                <input type="password" placeholder="输入用户密码" name="pwd" id="pwd"/>
            </div>
            <div class="logC">
                <button>注册</button>
            </div>
        </form>
    </div>
</div>
<script>
    $('form').submit(function () {

        //获取用户名密码
        var username = $("input[name='user']").val();
        var password = $("input[name='pwd']").val();
        //判断用户名密码是否为空
        if (!username) {
            layer.msg('用户名不能为空!', {time: 2000});
            return false;
        }
        if (!password) {
            layer.msg('密码不能为空!', {time: 2000});
            return false;
        }
        $.ajax({
            type: 'post',
            url: '../function/register.php',
            data: {username: username, password: password},
            success: function (res) {
                res = JSON.parse(res);
                if (res.status == 0) {
                    layer.msg(res.message, {time: 2000})
                } else {
                    layer.msg(res.message, {time: 1000}, function () {
                        window.location.href = '../loadPage/login.php';
                    })
                }
            }
        });
        return false;
    });
</script>
</body>
</html>