<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台首页</title>
    <link rel="stylesheet" href="../../public/admin/css/home.css">
    <link rel="stylesheet" href="../../public/common/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/js/myPagination/myPagination.css">
    <script src="../../public/js/myPagination/myPagination.js"></script>
    <script src="../../public/common/jquery-3.3.1/jquery-3.3.1.js"></script>
    <script src="../../public/common/layer/layer.js"></script>
    <!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">-->
    <style>
        a {
            text-decoration: none;
        }

        a:hover {
            color: red;
            text-decoration: underline;
        }

        .right-xg {
            margin-top: 5%;
        }

        .title {
            color: #1E9FFF;
            text-align: center;
            margin-top: 3%;
        }

        .pagination {
            margin-bottom: auto;
        }

    </style>
</head>
<body>
<div class="quan">
    <div class="head navbar navbar-default">
        <div class="head-top"><img src="">
        </div>
        <div class="head-name">欢迎<span><?php echo $username;?></span>进入后台管理系统</div>
        <div class="head-out"><a href="../function/loginout.php">退出</a></div>
    </div>
    <div class="left">
        <div class="left-top"><a href="../loadPage/home.php">修改密码</a></div>
        <div class="left-bt"><a href="../loadPage/upload.php">上传视频</a></div>
        <div class="left-bto"><a href="../loadPage/manage.php" style="background-color: blue">视频管理</a></div>
    </div>

    <div class="right">
        <div class="right-top"><a>视频管理</a></div>
        <div class="title"><h1>视频信息列表</h1></div>
        <div class="right-xg">
            <form type="get" class="form" action="../function/del.php">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <tr class="success">
                        <th>视频名称</th>
                        <th>视频类型</th>
                        <th>视频路径</th>
                        <th>上传时间</th>
                        <th>操作</th>
                    </tr>
                    <?php
                  foreach($result as $v):?>
                    <tr>
                        <td><?php echo $v['vdname']; ?></td>
                        <td><?php echo $v['vdtype']; ?></td>
                        <td><?php echo $v['vdpath']; ?></td>
                        <td><?php echo $v['uploadtime']; ?></td>
                        <td><a href="#" class="del">删除</a></td>
                    </tr>
                    <?php endforeach;?>
                </table>
            </form>
            <div id="pagination" class="pagination footer"></div>
        </div>
    </div>
</div>
<script>
    //获取a标签的点击事件
    $('.del').click(function () {
        //获取每一行第一个td中的值
        var times = $(this).parents('td').siblings().eq(3).text();
        //使用layer设置弹出框
        layer.confirm("确认删除？", {
            title: false,
            btn: ['确定', '取消']
        }, function () {//弹出框点确定时的方法
            //使用ajax get方式提交数据
            $.ajax({
                type: 'get',
                url: '../function/del.php?times=' + times,
                success: function (res) {
                    res = JSON.parse(res);
                    if (res.status == 0) {//弹出提示信息
                        layer.msg(res.message, {time: 1000}, function () {
                            window.location.href = 'manage.php';
                        });
                    } else {
                        //弹出提示信息,并刷新页面
                        layer.msg(res.message, {time: 1000}, function () {
                            window.location.href = 'manage.php';
                        });
                    }
                }
            });
            return false;
        }, function () {//取消时的函数,可以删除，现在并没有作用

        });
    });
</script>
<script>
    window.onload = function () {
        $.ajax({
            type: 'post',
            url: '../function/pagination.php',
            success: function (res) {
                res = JSON.parse(res);
                if (res.dataTotal == 0) {
                    $('#pagination').hide();
                } else {
                    new myPagination({
                        id: 'pagination',
                        curPage: 1, //初始页码
                        pageTotal: res.pageTotal, //总页数
                        pageAmount: res.pageAmount,  //每页多少条
                        dataTotal: res.dataTotal, //总共多少条数据
                        pageSize: 5, //可选,分页个数
                        showPageTotalFlag: false, //是否显示数据统计
                        showSkipInputFlag: true, //是否支持跳转
                        getPage: function (page) {
                            //获取当前页数
                            console.log(page);

                        }
                    })
                }
            }
        });


    }
</script>
<script>

</script>
</body>
</html>